header{
    &.header{
        padding: 1rem 0 ;
        width: 100%;
        border-bottom: 1px solid gainsboro;
        background-color: white;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
        margin-bottom: 3px;
        min-height: 5%;
        @media screen and (max-width:996px) { 
            
          }
        #header-container{

            @include dflex(space-between,center) ;
            @include content-container-maxWidth();

        }
        .header-left{
            @include dflex(null,center) ;
            .header-nav{
                @include dflex(null,center) ;
                @media (max-width: 996px) {
                    display: none;
                  }
                .header-nav-item{
                    padding: 0 1rem;
                    cursor: pointer;
                    font-weight: 700;
                }
            }
        }
        .header-right{
            @include dflex(end,null) ;
            @media (max-width: 996px) {
                display: none;
              }
            .search{
                @include dflex(null,center) ;
                position: relative;
                .seacrh-icon{
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translate(0%, -50%);
                }
            }
            .form-control{
                border-radius: 50px;
                min-width: 250px
            }
            button{
                &.btnLink{
                    @include fontSize(1rem, #53B6B7,500);
                    border-radius: 20px;
                    // margin: 0 0.75rem;
                    margin-left: 1rem;
                    border: 1px solid #53B6B7;
                    padding: 0px 12px;
                    white-space: nowrap;

                }
            }
        }
        .menuIcon{
            display: none;
            @media (max-width: 996px) {
                display: block;
              }

        }
    }
}