@mixin backgroundImage($img: null) {
  // background-image: url($img); /* 图片 */
  background-image: linear-gradient(
      to top,
      rgba(2, 148, 149, 1) 20%,
      hsla(181, 41%, 52%, 0) 70%
    ),
    url($img);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@mixin dflex($justify: start, $align: center, $wrap: wrap, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
  flex-direction: $direction;
}

@mixin fontSize($fz, $color, $fw) {
  font-size: $fz;
  color: $color;
  font-weight: $fw;
  letter-spacing: 0.01em;
  font-family: 'Noto Sans TC', sans-serif;
}

@mixin input() {
  @include dflex(start, center, nowrap);
  margin-bottom: 1.5rem;
  .label {
    @include fontSize(18px, #4a4a4a, 400);
    white-space: nowrap;
    min-width: 120px;
  }
  .form-control {
  }
  .cancelIcon {
    // background-color: red;
    color: red;
  }
}

@mixin button() {
  text-align: center;
  border-radius: 16px;
  padding: 0.5rem 2.5rem;
  border: 1px solid rgb(74, 74, 74, 30%);
  margin: 0 1rem;
  color: rgb(74, 74, 74, 30%); 
  font-size: 24px;
  letter-spacing: 0.14em;
  cursor: pointer;
  // width: 100%;
  // &.active {
  //   background-color: #53b6b7;
  //   color: white;
  //   border: #53b6b7 1px solid;
  // }

  &:hover {
    color: rgb(74, 74, 74, 0.7);
    border-color: rgb(74, 74, 74, 0.7);
  }
}

@mixin content_container() {
  padding: 1.5rem 2rem 0 2rem;
  background-color: white;
  width: 100%;
  margin: 0 auto;

  @media (max-width: 996px) {
    padding: 1rem;
    padding-bottom: 0;
  }
}

@mixin content-container-bg75(){
  width: 75%;
  margin: 0 auto;
  background-color: white;
}
