section.ad-loop {
  width: 100%;
  background-color: lightcyan;
  height: 150px;
}

.content-container {
  padding: 1.5rem 2rem 0 2rem;
  background-color: #f5f5f5;
}
@media (max-width: 996px) {
  .content-container {
    padding: 1rem;
    padding-bottom: 0;
  }
}

.majorTitle {
  font-size: 2rem;
  color: #333333;
  font-weight: 900;
  letter-spacing: 0.01em;
  font-family: "Noto Sans TC";
  text-align: center;
}

.minTitle {
  font-size: 20px;
  color: #333333;
  font-weight: 700;
  letter-spacing: 0.01em;
  font-family: "Noto Sans TC";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  white-space: nowrap;
  padding-bottom: 0.5rem;
}

.input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 1.5rem;
  margin: 0;
}
.input-container .label {
  font-size: 18px;
  color: #4a4a4a;
  font-weight: 400;
  letter-spacing: 0.01em;
  font-family: "Noto Sans TC";
  white-space: nowrap;
  min-width: 150px;
  margin-right: 1rem;
  text-align: start;
}
.input-container .cancelIcon {
  color: red;
}
.input-container .form-control {
  width: 50%;
}

.borderBottom {
  border-bottom: #cdcdcd 1px solid;
}

.active {
  background: #24a8a7 !important;
  border-radius: 16px;
  color: white !important;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.05);
          box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.05);
  border-radius: 8px 8px 0 0;
  background-color: white;
  padding: 2rem 3.5rem;
  margin-top: 1rem;
  border: none;
}

.cardItem {
  margin-bottom: 1rem;
}
.cardItem .cardItem-container .list-singleLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 1rem 0;
}
.cardItem .cardItem-container .list-singleLine .listItem {
  font-size: 1rem;
  color: #666666;
  font-weight: 400;
  letter-spacing: 0.01em;
  font-family: "Noto Sans TC";
  margin: 0.5rem 0;
  padding: 2px 16px;
}
.cardItem .cardItem-container .list-singleLine .listItem.listItem-zone {
  color: black;
  margin-right: 0.5rem;
  padding: 0;
}
.unlimited_btn {
  border: 1px #24a8a7 solid;
  border-radius: 16px;
  background-color: white;
  font-size: 1rem;
  color: #24a8a7;
  font-weight: 400;
  letter-spacing: 0.01em;
  font-family: "Noto Sans TC";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: pointer;
  padding: 2px 1rem;
  line-height: initial;
  margin-left: 1rem;
}

section.searchResult {
  margin: 1rem 0;
}
section.searchResult .card .total {
  font-size: 20px;
  color: #666666;
  font-weight: 400;
  letter-spacing: 0.01em;
  font-family: "Noto Sans TC";
  text-align: end;
}
section.searchResult .card .clinicList {
  padding: 1rem 0;
}
section.searchResult .card .clinicList .clinicItem {
  border-bottom: #cdcdcd 1px solid;
  padding: 0.5rem 0;
}
section.searchResult .card .clinicList .clinicItem .departmentList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
section.searchResult .card .clinicList .clinicItem .departmentList .departmentItem {
  font-size: 1rem;
  color: #666666;
  font-weight: 400;
  letter-spacing: 0.01em;
  font-family: "Noto Sans TC";
  margin-right: 0.5rem;
  padding: 0.25rem;
  background-color: #efefef;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
}
section.searchResult .card .clinicList .clinicItem .inform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1rem;
  color: #666666;
  font-weight: 900;
  letter-spacing: 0.01em;
  font-family: "Noto Sans TC";
  padding-top: 0.5rem;
}
section.searchResult .card .clinicList .clinicItem .inform .informItem {
  white-space: nowrap;
}
section.searchResult .card .clinicList .clinicItem .inform .informItem.btn-detail {
  padding: 4px 16px;
  border-radius: 16px;
  border: 1px solid gray;
}

.pagination {
  margin: 0 auto;
}

:root {
  --primary: #23adad;
  --greyLight: #23adade1;
  --greyLight-2: #cbe0dd;
  --greyDark: #2d4848;
}

ul {
  list-style-type: none;
}

.items-list {
  max-width: 90vw;
  margin: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3rem 1fr 3rem 1fr 3rem 1fr 3rem 1fr;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
@media only screen and (max-width: 600px) {
  .items-list {
    -ms-grid-columns: 1fr 3rem 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
}

.item {
  width: 10rem;
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--greyDark);
  cursor: pointer;
}
.item span {
  background: #ffffff;
  -webkit-box-shadow: 0 0.8rem 2rem rgba(90, 97, 129, 0.05);
          box-shadow: 0 0.8rem 2rem rgba(90, 97, 129, 0.05);
  border-radius: 0.6rem;
  padding: 2rem;
  font-size: 3rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.item:hover span {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: var(--primary);
}
.item p {
  font-size: 1.2rem;
  margin-top: 1rem;
  color: var(--greyLight);
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.6rem;
  background: #ffffff;
  -webkit-box-shadow: 0 0.8rem 2rem rgba(90, 97, 129, 0.05);
          box-shadow: 0 0.8rem 2rem rgba(90, 97, 129, 0.05);
  width: 100%;
}
.page__numbers, .page__btn, .page__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.25rem 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}
.page__dots {
  padding: 0.5rem 0.75rem;
  color: var(--greyLight);
  cursor: initial;
}
.page__numbers {
  padding: 0.5rem 0.75rem;
  border-radius: 0.4rem;
}
.page__numbers:hover {
  color: var(--primary);
}
.page__numbers.active {
  color: #ffffff;
  background: var(--primary);
  font-weight: 600;
  border: 1px solid var(--primary);
}
.page__btn {
  color: var(--greyLight);
  pointer-events: none;
}
.page__btn.active {
  color: var(--greyDark);
  pointer-events: initial;
}
.page__btn.active:hover {
  color: var(--primary);
}
.page .prevIcon,
.page .nextIcon {
  background: #ffffff;
  border: 0.5px solid #4a4a4a;
  border-radius: 8px;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
}
.page .prevIcon.dis,
.page .nextIcon.dis {
  background: #EDEBEB;
  color: white;
  border: none;
}