#callingProgress-container {
  padding: 1.25rem 1rem;
  .section-container {
    .title {
      @include fontSize(1.5rem, #53b6b7, 900);
      letter-spacing: 2px;
      border-radius: 8px 8px 0px 0px;
      border-bottom: 1px solid #53b6b7;
      background: rgba(238, 252, 251, 1);
      padding: 0.25rem 1rem;
    }
    .content {
      @include fontSize(1rem, #4a4a4a, 500);
      letter-spacing: 1.12px;
      padding: 0.5rem 1rem;
      .phone,
      .addr {
        padding: 0.5rem 0;
      }
      .calling-container {
        .callingCard {
          width: 90%;
          margin: 0 auto;
          border-radius: 16px;
          @include dflex(null, center);
          box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.25);
          height: 60px;
          .title {
            height: 100%;
            width: 40%;
            @include fontSize(1.25rem, white, 900);
            @include dflex(center, center);
            background: #ffa800;

            padding: 8px 16px;
            border-radius: 16px 0 0 16px;
          }
          .content {
            height: 100%;
            width: 60%;
            border-radius: 0 16px 16px 0;
            background: #193737;
            @include dflex(center, center);
            padding: 0 1rem;
            .over {
              @include fontSize(1rem, gray, 600);
              padding-top: 0.75rem;
            }
            .number {
              padding-left: 0.5rem;
              line-height: 50%;
              @include fontSize(1.75rem, #ffa800, 900);
            }
          }
        }
        .update-btn {
          margin: 1rem auto;
          border-radius: 3px;
          border: 1px solid #ea4438;
          background: #fff;
          @include fontSize(1rem,#EA4438,500);
          @include dflex(center,center);
          width: 10%;
        }
      }
    }
  }
}
