#callingProgress-container {
  padding: 1.25rem 1rem;
  max-width: 996px;
  .section-container {
    .title {
      @include fontSize(1.5rem, #53b6b7, 900);
      letter-spacing: 2px;
      border-radius: 8px 8px 0px 0px;
      border-bottom: 1px solid #53b6b7;
      background: rgba(238, 252, 251, 1);
      padding: 0.25rem 1rem;
    }
    .content {
      @include fontSize(1rem, #4a4a4a, 500);
      letter-spacing: 1.12px;
      padding: 0.5rem 1rem;
      .phone,
      .addr {
        padding: 0.5rem 0;
      }
      .doctorList-container {
        @include dflex(center, center, nowrap);
        margin: 1rem 0;
        .doctorList {
          @include dflex(start, center, nowrap);
          width: 100%;
          .doctorItem {
            @include fontSize(1rem, #c0c0c0, 500);
            width: calc(100% / 4);
            text-align: center;
            padding-bottom: 0.5rem;
            padding: 0 1rem;
            padding-bottom: 0.5rem;
            border-bottom: 1px solid #cdcdcd;
            cursor: pointer;
            &.show {
              color: #53b6b7 !important;
              border-bottom: 2px solid #53b6b7 !important;
              // background-color: transparent !important;
            }
          }
        }
      }
      .calling-container {
        .callingCard {
          width: 50%;
          margin: 0 auto;
          border-radius: 16px;
          @include dflex(null, center);
          box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.25);
          height: 60px;
          .title {
            height: 100%;
            width: 40%;
            @include fontSize(1.25rem, white, 900);
            @include dflex(center, center);
            background: #ffa800;
            padding: 8px 16px;
            border-radius: 16px 0 0 16px;
          }
          .content {
            height: 100%;
            width: 60%;
            border-radius: 0 16px 16px 0;
            background: #193737;
            @include dflex(center, center);
            padding: 0 1rem;
            .over {
              @include fontSize(1rem, gray, 600);
              padding-top: 0.75rem;
            }
            .number {
              padding-left: 0.5rem;
              line-height: 50%;
              @include fontSize(1.75rem, #ffa800, 900);
            }
          }
        }
        .update-btn {
          margin: 1rem auto;
          border-radius: 3px;
          border: 1px solid #ea4438;
          background: #fff;
          @include fontSize(1rem, #ea4438, 500);
          @include dflex(center, center);
          width: 10%;
          padding: 0.25rem 0;
          white-space: nowrap;
        }
      }
    }
  }
}
.schedule-container {
  transform: none;
  .content {
    padding: 0.5rem 0 !important;
  }
  .schedule {
    border: none;
    padding: 0;
    .clinic-week-col {
      &:first-child {
        background-color: wheat;
        min-width: 30%;
      }
      .item {
        min-height: 60px;
        // height: auto;
        .stateName {
          padding: 0;
          @include fontSize(16px, #4a4a4a, 400);
        }
        .range {
          padding: 0;
          @include fontSize(12px, #4a4a4a, 400);
        }
      }
    }
  }
}
