.pagination {
  margin: 0 auto;
  @include dflex(center, center);
}

:root {
  --primary: #23adad;
  --greyLight: #23adade1;
  --greyLight-2: #cbe0dd;
  --greyDark: rgba(74, 74, 74, 1);
}
ul {
  list-style-type: none;
}

.items-list {
  max-width: 90vw;
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 3rem;
  justify-content: center;
  align-content: center;

  @media only screen and (max-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.item {
  width: 10rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--greyDark);
  cursor: initial;
  &.state {
    cursor: initial;
  }
  span {
    background: #ffffff;
    box-shadow: 0 0.8rem 2rem rgba(#5a6181, 0.05);
    border-radius: 0.6rem;
    padding: 2rem;
    font-size: 3rem;
    transition: all 0.3s ease;
  }

  &:hover {
    span {
      transform: scale(1.2);
      color: var(--primary);
    }
  }

  p {
    font-size: 1.2rem;
    margin-top: 1rem;
    color: var(--greyLight);
  }
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;

  //   height: 5rem;
  //   margin: 3rem;
  border-radius: 0.6rem;
  background: #ffffff;
  box-shadow: 0 0.8rem 2rem rgba(#5a6181, 0.05);
  width: 100%;

  &__numbers,
  &__btn,
  &__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    // margin: 0.8rem;
    margin: 0.25rem 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    @media (max-width: 996px) {
      margin: 2px 0.25rem;
    }
  }

  &__dots {
    // width: 1.5rem;
    padding: 0.5rem 0.75rem;
    // height: 1.5rem;
    // padding: 0.5rem 0.75rem;
    color: var(--greyLight);
    cursor: initial;
  }

  &__numbers {
    // width: 1.5rem;
    // padding: 0.5rem 0.75rem;
    // height: 1.5rem;
    padding: 0.5rem 0.75rem;
    border-radius: 0.4rem;
    @media (max-width: 996px) {
      padding: 0;
      width: 30px;
      height: 30px;
      border-radius: 50px;
    }

    &:hover {
      color: var(--primary);
    }

    &.active {
      color: #ffffff;
      background: var(--primary);
      font-weight: 600;
      border: 1px solid var(--primary);
    }
  }

  &__btn {
    color: var(--greyLight);
    pointer-events: none;

    &.active {
      color: var(--greyDark);
      pointer-events: initial;

      &:hover {
        color: var(--primary);
      }
    }
  }
  // .prevIcon,
  // .nextIcon {
  //   background: #ffffff;
  //   border: 0.5px solid #4a4a4a;
  //   border-radius: 8px;
  //   padding: 0.5rem 0.5rem;
  //   cursor: pointer;
  //   &.dis {
  //     background: #edebeb;
  //     color: white;
  //     border: none;
  //   }
  //   // transform: matrix(1, 0, 0, -1, 0, 0);
  // }
}

#simple-container {
  .schedule-container {
    transform: none;
    width: 100%;
    margin: 1rem 0;
  }
}

#pagination {
  .pagination_arrow {
    cursor: pointer;
    color: #23adad;
    margin: 0 1rem;
    font-size: 1.25rem;
    @media (max-width: 996px) {
      margin: 0 0.5rem;
    }
    &.disabled{
      cursor: auto;
      color: rgba(205, 205, 205, 1);
    }
  }
}
