.schedule-container {
  transform: translate(0px, 100px);
}
#formal-container {
  .schedule-container{
    width: auto;
  }
}
.item {
  width: auto;
  height: auto;
  span {
    font-size: 1rem;
  }
}
.schedule {
  background-color: white;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  width: 100%;
  padding: 0.5rem 0.75rem;
  .clinic-week {
    width: 100%;
    text-align: center;
    @include fontSize(1rem, #4a4a4a, 400);
    @include dflex(null, null, nowrap);
    .clinic-week-col {
      &:first-child {
        min-width: 20%;
      }
      width: calc(80% / 7);
      &:first-child .item {
        border-left: none;
      }
      &:last-child .item {
        border-right: none;
      }
      .item {
        @include fontSize(1rem, null, 400);
        &.state {
          @include dflex(center, center, nowrap, column);
          .stateName {
            padding-top: 10px;
          }
          .range {
            padding-top: 5px;
            font-size: 1rem;
            @media (max-width: 576px) {
              font-size: 0.25rem;
            }
          }
        }
        &.isWeekend {
          color: #9c0e4e;
        }
        &.isRest {
          color: #9c0e4e;
        }
        // width: auto;
        @include dflex(center, center, nowrap);
        overflow: hidden;
        height: 60px;
        @media (max-width: 576px) {
          height: 70px;
        }
        border: 1px dotted #e2e2e2;
        &:first-child {
          border-top: none;
        }

        &:last-child {
          border-bottom: none;
        }
        .active {
          padding: 0;
          width: 15px;
          height: 15px;
          background: #53b6b7;
          border-radius: 50%;
          &.isWeekend {
            background-color: #9c0e4e !important;
            // color: #9C0E4E;
            // border: 1px solid #9C0E4E;
          }
          @media (max-width: 576px) {
            width: 15px;
            height: 15px;
          }
        }
      }
    }
  }
  .clinic-doctor {
    margin: 2rem 0;
    @include dflex(null, center, wrap);
    @media (max-width: 576px) {
      width: 100%;
      margin: 1rem 0;
      @include dflex(space-between, center, wrap);
    }
    .doctor {
      cursor: pointer;
      margin: 0.5rem;
      margin-left: 0;
      padding: 1rem 3rem;
      background: #ffffff;
      border-radius: 4px;
      @include fontSize(20px, #4a4a4a, 400);
      @include dflex(null, center);
      display: flex;
      align-items: center;
      @media (max-width: 576px) {
        white-space: nowrap;
        justify-content: space-between;
        padding: 1rem;
        display: block;
        width: calc(50% - 0.5rem);
      }
      &.active {
        border: 1px solid #53b6b7;
        background: #eefcfb;
        color: #53b6b7;
      }
    }
  }
  .clinic-time {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    .clinic-time-state {
      letter-spacing: 0.01em;
      color: black;
      font-weight: 400;
      font-size: 20px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-bottom: 1.5rem;
      @media (max-width: 996px) {
        width: auto;
      }
      .title {
        text-align: start;
        margin-bottom: 0.75rem;
      }
      .list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .timeItem {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          margin-right: 1rem;
          margin-bottom: 1rem;
          width: calc(100% / 7 - 1rem);
          height: 60px;
          background: #ffffff;
          // color: rgba(74, 74, 74, 0.3);
          border-radius: 4px;
          @media (max-width: 996px) {
            width: auto;
            padding: 0 1rem;
          }
          &.active {
            background: #eefcfb;
            border: 1px solid #53b6b7;
            border-radius: 4px;
            color: #24a8a7;
          }
        }
      }
    }
  }
}

.resevation-container {
  @include dflex(center, center);
  margin-top: 1rem;
  .btn-link {
    @include fontSize(1.25rem, white, 500);
    text-decoration: none;
    letter-spacing: 0.08em;
    padding: 0.5rem 0.75rem;
    border: 1.5px solid #2b9293;
    box-shadow: 0px 4px 4px rgba(102, 102, 102, 0.15);
    border-radius: 50px;
    margin: 0 1rem;
    cursor: pointer;
    &.nowCalled {
      background: #2b9293;
    }
    &.reservation {
      background: #53b6b7;
    }
  }
}

#schedule-pd {
  display: none;
  @media (max-width: 996px) {
    display: block;
    &.schedule {
      border: none;
      padding: 0;
      .clinic-week-col {
        &:first-child {
          min-width: 30%;
        }
        width: calc((100% - 30%) / 7);
        .item {
          min-height: 60px;
          span {
            padding: 0;
            font-size: 0.75rem;
          }
          .active {
            height: 10px;
            width: 10px;
          }
          .stateName {
            padding: 0;
            font-size: 0.75rem;
          }
          .range {
            padding: 0;
            font-size: 0.75rem;
          }
        }
      }
    }
  }
}
#simple-container{
  #schedule-pd{
    display: block;
  }
}