$minHeight: 280px;
.search-bar {
  // height: 300px;
  // background-color: #4c932b;
  // width: 95%;
  // margin: 0 auto;
  // position: relative;
  @include content-container-maxWidth();
  @media (max-width: 996px) {
    overflow: hidden;
  }
  .image {
    width: 100%;
    @media (max-width: 996px) {
      width: auto;
    }
  }
  .search-bar-card {
    // display: none;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0%);
    // max-width: 800px;
    // border-radius: 70px;
    // background-color: white;
    width: calc(90% / 4 * 3);
    // min-width: 50%;
    // max-height: 450px;
    border-radius: 36px;
    background: #fff;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.1);
    @media (max-width: 996px) {
      width: calc(90% * 0.95);
      top: 8%;
    }
    .card-title {
      text-align: center;
      @include fontSize(1.5rem, white, 700);
      letter-spacing: 3px;
      background-color: #24a8a7;
      border-radius: 36px 36px 0 0;
      padding: 1.5rem 0;
      position: relative;
      @media (max-width: 996px) {
        padding-bottom: 0;
        letter-spacing: 0.4px;
      }
      .icon {
        position: absolute;
        background-color: white;
        border-radius: 50px;
        box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.05);
        width: 30px;
        height: 60px;
        top: -50%;
        transition: all 0.5s;
        transform: translate(0, 20%);
        @media (max-width: 996px) {
          width: 20px;
          height: 40px;
          transform: translate(0, 10%);
        }
        &.left {
          left: 10%;

          // transform: translateX(-50%);
          @media (max-width: 996px) {
            left: 30%;
          }
        }
        &.right {
          right: 10%;

          // transform: translateX(-50%);
          @media (max-width: 996px) {
            right: 30%;
          }
        }
      }
    }
    .card-content {
      background-color: white;
      border-radius: 0 0 70px 70px;
      //   padding: 1.5rem 0;
      min-height: $minHeight;
      display: flex;
      .inform-input {
        @include dflex(center, null, nowrap, column);
        width: 100%;
        .inform-input-item {
          @include input();
          //   width: 50%;
          margin-left: auto;
          margin-right: auto;
          @media (max-width: 996px) {
            margin-bottom: 1rem;
            flex-direction: column;
          }
          .label {
            @include fontSize(1rem, gray, 400);
            @include dflex(space-between, center, nowrap);
            margin-right: 1rem;
            @media (max-width: 996px) {
              margin: 0;
              margin-bottom: 0.75rem;
            }
            .word {
              display: block;
            }
          }
          .form-control {
            min-width: 250px;
            width: 75%;
            // border-radius: 16px;
            border: 1px solid #c0c0c0;
          }
        }
      }
      .error-message {
        @include fontSize(1rem, #9c0e4e, 400);
        margin: 0 auto;
        .icon {
          @include iconSetting();
          @media (max-width: 996px) {
            width: 18px;
            height: 18px;
            transform: translate(0px, -5%);
          }
        }
      }
      .search_btn {
        // width: 100%;
        @include button();
        @include fontSize(1.25rem, white, bold);
        // width: auto;
        background-color: #53b6b7;
        border: 1px solid var(--primary, #53b6b7);
        padding: 0.5rem 0;
        width: 25%;
        margin: 0 auto;
        margin-top: 1rem;
        @include dflex(center, null, null);
        @media (max-width: 996px) {
          // width: 75%;
          margin: 0 auto;
          margin-top: 0.5rem;
          min-width: 120px;
          white-space: nowrap;
        }
      }
    }
  }
}

#search-container {
  // margin-top: 1rem;
  .heightControl {
    height: calc($minHeight / 5 * 4);
    @media (max-width: 996px) {
      height: calc($minHeight / 3);
    }
  }
  .search-list-card {
    border-radius: 8px 8px 0px 0px;
    background-color: white;
    width: 75%;
    margin: 0 auto;
    @include fontSize(1rem, #666, 400);
    letter-spacing: 0.8px;
    padding: 3rem 0rem;
    @media (max-width: 996px) {
      width: 90%;
    }
    .card-title {
      font-weight: 900;
      font-size: 2rem;
    }
    .card-record {
      font-weight: 400;
      letter-spacing: 0.2px;
    }
    .card-list {
      @media (max-width: 996px) {
        margin-top: 1rem;
      }
      section {
        &.list-item {
          padding: 1rem 0;
          @include dflex(start, null, nowrap);
          @include fontSize(16px, #666, 400);
          letter-spacing: 1.28px;
          @media (max-width: 996px) {
            flex-direction: column;
            padding: 0;
            font-size: 1rem;
          }
        }
      }
      .num {
        border-radius: 8px 0px 0px 8px;
        border-right: 2px solid var(--primary, #53b6b7);
        background: var(--primary-eefcfb, #eefcfb);
        @include fontSize(1.25rem, #53b6b7, bold);
        @include dflex(center, center, nowrap);
        padding: 0 0.75rem;
        @media (max-width: 996px) {
          border-radius: 8px 8px 0px 0px;
          border: none;
          border-bottom: 2px solid var(--primary, #53b6b7);
          padding: 0.5rem 0;
        }
      }
      .content {
        padding-left: 0.75rem;
        width: 100%;
        @media (max-width: 996px) {
          padding: 0.75rem 0;
        }
        .department-list {
          @include dflex(start, center, wrap);
          .department-item {
            @include fontSize(14px, #666, 400);
            letter-spacing: 0.14px;
            border-radius: 4px;
            padding: 2px 8px;
            margin-right: 0.75rem;
            background: #efefef;
          }
        }
        .list-item-content-container {
          @include dflex(space-between, center, nowrap);
          @media (max-width: 996px) {
            flex-direction: column;
            align-items: start;
          }
          .list-item-start-clinic,
          .list-item-center-reservation,
          .list-item-end-btn {
            @include dflex(space-between, null, null, column);
            @media (max-width: 996px) {
              width: 100%;
            }
          }
          .list-item-end-btn {
            @media (max-width: 996px) {
              width: auto;
              margin: 0 0 0 auto;
            }
          }
        }
      }
      .list-item-start-clinic {
        .clinic {
          // margin-bottom: 0.5rem;
          margin-top: 0.5rem;
        }
      }
      .list-item-center-reservation {
        .reservationItem {
          margin-top: 0.5rem;
          .label {
            color: #53b6b7;
          }
        }
      }
      .list-item-end-btn {
        .cancel-button {
          margin-top: 0.5rem;
          @include fontSize(null, white, 400);
          cursor: pointer;
          background-color: #53b6b7;
          border-radius: 16px;
          border: 1px solid var(--primary-dark, #2b9293);
          padding: 4px 16px;
        }
      }
      .list-item-line {
        height: 1px;
        width: 100%;
        background-color: #cdcdcd;
        @media (max-width: 996px) {
          display: none;
        }
      }
    }
  }
}

.modal {
  &.cancelModal {
    .modal-content {
      border-radius: 16px;
      .modal-header {
        border-radius: 16px;
        background-color: white;
        border: none;
      }
      .modal-body {
        padding: 0;
        .warning_icon {
          border-radius: 50%;
          padding: 1px 4px 7px;
          background: #eefcfb;
          display: flex;
          justify-content: center;
          width: 40px;
          height: 40px;
          margin: 0 auto;
        }
        .title {
          @include fontSize(1.5rem, #53b6b7, 500);
          letter-spacing: 1.92px;
          margin: 0 auto;
          border-bottom: 0.5px solid #c0c0c0;
          text-align: center;
          padding-bottom: 0.5rem;
        }
        .inform-container {
          width: 75%;
          margin: 1.5rem auto;
          @media (max-width: 996px) {
            width: 100%;
          }
          .inform-item {
            @include label_value();
            @include dflex(center, start);
          }
        }
        .warning-message{
          text-align: center;
          @include fontSize(1rem,#9c0e4e,400)
        }
        .cancelConfirm-button{
          cursor: pointer;
          @include fontSize(1rem,white,500);
          letter-spacing: 2.24px;
          background-color:#53b6b7;
          border-radius: 10px;
          padding: 0.5rem 0px;
          width: 25%;
          margin: 1rem auto;
          text-align: center;
          white-space: nowrap;
          // min-width: 20%;
        }
      }
    }
  }
}
