#step-container {
  .step {
    @include dflex(space-between, center, nowrap);
    // margin-bottom: 1.5rem;
    position: relative;
    padding: 2rem 0;
    width: 90%;
    margin: 0 auto 0rem auto;
  }
  .line {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #53b6b7;
    height: 2.5px;
    z-index: 1;
  }
  .stepItem {
    @include dflex(center, center, nowrap);
    @include fontSize(20px, #53b6b7, 400);
    width: calc(100% / 4);
    border: 1px solid #53b6b7;
    border-bottom: 2px solid #53b6b7;
    border-radius: 10px 10px 0px 0px;
    padding: 0.75rem 0;
    background-color: white;
    box-shadow: 0 0 0 5px white; /* 调整颜色和模糊程度 */

    // margin: 1rem 0;
    z-index: 100;
    .stepItem-num {
      @include fontSize(1rem, #53b6b7, 400);
      @include dflex(center, center, nowrap);
      // background: #53b6b7;
      border: 1px solid #53b6b7;
      margin: 0 0.5rem;
      border-radius: 50px;
      width: 25px;
      height: 25px;
    }
    .stepItem-name {
      letter-spacing: 2px;
    }
    &.active {
      background: #53b6b7 !important;
      color: white !important;
      border-bottom: 3px solid #2b9293 !important;
      // 3px solid #2B9293
      .stepItem-num {
        background-color: white !important;
        color: #53b6b7 !important;
      }
    }
  }
}
.fillIn_inform {
  width: 90%;
  padding: 0 1rem;
  margin: 1rem auto;
  .title {
    position: relative;
    .title-name {
      @include fontSize(28px, gray, 900);
      background-color: white;
      display: inline-block;
      position: relative;
      z-index: 2;
    }
    .title-line {
      position: absolute;
      right: 0;
      left: 0;
      top: 50%;
      height: 1px;
      background-color: rgb(128, 128, 128, 50%);
      z-index: 1;
    }
  }
  .option-container {
    @include dflex(start, center, wrap);
    margin: 1rem 0;
  }
}
#doctorList {
  .option-container {
    .doctorItem {
      cursor: pointer;
      margin: 0.5rem 1rem 0.5rem 0;
      padding: 1rem 2rem;
      border-radius: 10px;
      @include fontSize(20px, rgba(74, 74, 74, 0.3), 400);
      border: 1px solid rgba(205, 205, 205, 0.5);
    }
  }
}
#calendar {
  .monthControl {
    width: 100%;
    @include dflex(space-between, center, wrap);
    @include fontSize(20px, #24a8a7, 600);
  }
  .date-week {
    margin-top: 1rem;
    @include dflex(null, center, wrap);
    .weekItem {
      @include fontSize(20px, black, 900);
      text-align: center;
      width: calc(100% / 7);
      &.isWeekend {
        color: #9c0e4e;
      }
    }
  }
  .date-day {
    @include dflex(start, center, wrap);
    width: 100%;
    .dayItem {
      @include dflex(center, center, wrap);
      @include fontSize(20px, black, 400);
      width: calc(100% / 7 - 1rem);
      text-align: center;
      height: 60px;
      background-color: white;
      border-radius: 4px;
      margin: 0.5rem;
      cursor: pointer;
      &.none {
        cursor: initial;
      }
      &.disable {
        color: rgba(74, 74, 74, 0.3);
        cursor: initial;
      }
      span {
        // cursor: pointer;
        &.active {
          cursor: initial;
          background: #24a8a7;
          border: 1px solid #53b6b7;
          width: 50px;
          height: 50px;
          @include dflex(center, center, wrap);
          border-radius: 50px;
        }
      }
    }
  }
}
#time {
  .option-container {
    flex-direction: column;
    align-items: start;
  }
  .time-container {
    .time-title {
      @include fontSize(20px, gray, bold);
      letter-spacing: 14%;
    }
    .time-list {
      @include dflex(start, center, wrap);
      margin: 0rem 0 1rem 0;
      .timeItem {
        cursor: pointer;
        border: 1px solid #c0c0c0;
        border-radius: 10px;
        @include fontSize(24px, gray, 500);
        margin: 0.5rem;
        margin-left: 0;
        padding: 0.5rem 2rem;
      }
    }
  }
}
.stepControl {
  @include dflex(center, center);
  margin-bottom: 2rem;
  .stepbtn {
    @include fontSize(24px, rgb(74, 74, 74, 30%), bold);
    letter-spacing: 14%;
    @include button();
  }
}

// step2
#reservation-content {
  .option-container {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    .reservationContent-item {
      @include dflex(start, center, wrap);
      @include fontSize(1.25rem, #4a4a4a, 400);
      letter-spacing: 0.14em;
      margin-bottom: 1rem;
      .reservationContent-item-label {
        white-space: nowrap;
        padding-right: 2rem;
        // width: 20%;
        font-weight: bold;
      }
      .reservationContent-item-value {
        color: #53b6b7;
        white-space: nowrap;
      }
    }
  }
}

#personal-inform {
  .option-container {
    .first_followUp {
      width: 100%;
      @include dflex(center, center, nowrap);
      .first_followUpBtn {
        @include button();
        // padding: 0.5rem 3.5rem;
        width: 30%;
        font-size: 1.25rem;
      }
    }
    .inform-input {
      @include dflex(center, null, nowrap, column);
      width: 100%;
      margin: 1.5rem 0 0 0;
      .inform-input-item {
        @include input();
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        .label {
          @include fontSize(1rem, gray, 400);
          @include dflex(space-between, center, nowrap);
          margin-right: 1rem;
          .word {
            display: block;
          }
        }
        .form-control {
          min-width: 250px;
          width: 75%;
          border-radius: 16px;
          border: 1px solid #c0c0c0;
        }
        &.form-check {
          position: relative;
          width: 40%;
          white-space: nowrap;
          .form-check-input {
            width: 25px;
            height: 25px;
            border-color: rgb(74, 74, 74, 0.7);
            &:focus {
              box-shadow: 0 0 0 2px rgb(74, 74, 74, 0.3);
            }
            &:checked {
              box-shadow: 0 0 0 2px rgb(74, 74, 74, 0.3);
              background-color: rgb(74, 74, 74, 0.7);
              border-color: rgb(74, 74, 74, 0.7);
            }
          }
          .form-check-label {
            padding-left: 1rem;
            @include fontSize(1.25rem, #4a4a4a, bold);
            position: absolute;
            top: 6%;
          }
        }
      }
    }
  }
}
.reservation-complete {
  @include fontSize(24px, #ab0f56, 900);
  letter-spacing: 3.36px;
  text-align: center;
  margin: 0 auto;
}
#reservation-complete {
  .title {
    @include dflex(center, center, wrap);
    .title-name {
      @include fontSize(20px, #4a4a4a, 900);
      letter-spacing: 2.8px;
    }
  }
  .option-container {
    width: 60%;
    margin: 2rem auto 3.5rem auto;
    justify-content: space-between;
    align-items: start;
    // margin: 1. 0;
    .inform-content-container {
      .informContent-item {
        @include dflex(start, center, nowrap);
        @include fontSize(1.25rem, #4a4a4a, 400);
        letter-spacing: 2.8px;
        margin-bottom: 1.5rem;
        .informContent-item-label {
          min-width: 150px;
          text-align: end;
          white-space: nowrap;
          padding-right: 1.5rem;
        }
        .informContent-item-value {
          white-space: nowrap;
          color: #53b6b7;
        }
      }
    }
  }
}
