#step-container {
  .step {
    @include dflex(space-between, center, nowrap);
    position: relative;
    padding: 2rem 0;
    width: 90%;
    margin: 0 auto 0rem auto;
    @media (max-width: 996px) {
      padding: 0.5rem 0;
    }
  }
  .line {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #53b6b7;
    height: 2.5px;
    z-index: 1;
  }
  .stepItem {
    @include dflex(center, center, nowrap);
    @include fontSize(20px, #53b6b7, 400);
    width: calc(100% / 4);
    border: 1px solid #53b6b7;
    border-bottom: 2px solid #53b6b7;
    border-radius: 10px 10px 0px 0px;
    padding: 0.75rem 0;
    background-color: white;
    box-shadow: 0 0 0 5px white;
    @media (max-width: 996px) {
      flex-direction: column;
      border: none !important;
    }
    z-index: 20;
    .stepItem-num {
      @include fontSize(1rem, #53b6b7, 400);
      @include dflex(center, center, nowrap);
      // background: #53b6b7;
      border: 1px solid #53b6b7;
      margin: 0 0.5rem;
      border-radius: 50px;
      width: 25px;
      height: 25px;
    }
    .stepItem-name {
      letter-spacing: 2px;
      @media (max-width: 996px) {
        margin-top: 0.5rem;
        text-align: center;
      }
    }
    &.active {
      background: #53b6b7 !important;
      color: white !important;
      border-bottom: 3px solid #2b9293 !important;
      @media (max-width: 996px) {
        background-color: white !important;
        color: #53b6b7 !important;
        border: none;
        border-bottom: none !important;
      }
      .stepItem-num {
        background-color: white !important;
        color: #53b6b7 !important;
        @media (max-width: 996px) {
          background-color: #53b6b7 !important;
          color: white !important;
        }
      }
    }
  }
}
.fillIn_inform {
  width: 90%;
  padding: 0 1rem;
  margin: 1rem auto;
  @media (max-width: 996px) {
    margin: 0.5rem auto;
    padding: 0;
  }
  .title {
    position: relative;
    .title-name {
      @include fontSize(28px, #4a4a4a, 900);
      background-color: white;
      display: inline-block;
      position: relative;
      z-index: 2;
    }
    .title-line {
      position: absolute;
      right: 0;
      left: 0;
      top: 50%;
      height: 1px;
      background-color: rgb(128, 128, 128, 50%);
      z-index: 1;
    }
  }
  .option-container {
    @include dflex(start, center, wrap);
    margin: 1rem 0;
    @media (max-width: 996px) {
      margin: 0.5rem 0;
    }
  }
}
#doctorList {
  .option-container {
    .doctorItem {
      cursor: pointer;
      margin: 0.5rem 1rem 0.5rem 0;
      padding: 1rem 2rem;
      border-radius: 10px;
      @include fontSize(20px, rgba(74, 74, 74, 0.3), 400);
      border: 1px solid rgba(205, 205, 205, 0.5);
      &.active {
        color: white;
      }
      @media (max-width: 996px) {
        padding: 0.25rem 0.75rem;
      }
    }
  }
}
#calendar {
  .monthControl {
    width: 90%;
    margin: 0 auto;
    @include dflex(space-between, center, wrap);
    @include fontSize(20px, #24a8a7, 600);
    @media (max-width: 996px) {
      width: 75%;
      margin: 0 auto;
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
  .date {
    margin: 0 auto;
  }
  .date-week {
    margin-top: 1rem;
    @include dflex(null, center, wrap);
    .weekItem {
      @include fontSize(20px, black, 900);
      text-align: center;
      width: calc(100% / 7);
      &.isWeekend {
        color: #9c0e4e;
      }
    }
  }
  .date-day {
    @include dflex(start, center, wrap);
    width: 100%;
    .dayItem {
      @include dflex(center, center, wrap);
      @include fontSize(20px, black, 400);
      width: calc(100% / 7 - 1rem);
      text-align: center;
      height: 60px;
      background-color: white;
      border-radius: 4px;
      margin: 0.5rem;
      cursor: pointer;
      @media (max-width: 996px) {
        height: 30px;
      }
      &.none {
        cursor: initial;
      }
      &.disable {
        color: rgba(74, 74, 74, 0.3);
        cursor: initial;
      }
      span {
        // cursor: pointer;
        &.active {
          cursor: initial;
          background: #24a8a7;
          border: 1px solid #53b6b7;
          width: 50px;
          height: 50px;
          @include dflex(center, center, wrap);
          border-radius: 50px;
        }
      }
    }
  }
}
#time {
  .option-container {
    flex-direction: column;
    align-items: start;
    @media (max-width: 996px) {
      display: none;
    }
  }
  .option-container-pd {
    display: none;
    @media (max-width: 996px) {
      display: flex;
      width: 100%;
      text-align: center;
    }
    .form-select {
      width: 100%;
      border-radius: 16px;
      border: 1px solid #666;
      padding: 0.5rem 2rem 0.5rem 0.5rem;
      width: calc(100% / 3 - 0.5rem);
      margin: 0.75rem 0;
    }
  }
  .time-container {
    @media (max-width: 996px) {
      width: 100%;
    }

    .time-title {
      @include fontSize(20px, gray, bold);
      letter-spacing: 14%;
    }
    .time-list {
      @include dflex(start, center, wrap);
      margin: 0rem 0 1rem 0;
      .timeItem {
        cursor: pointer;
        border: 1px solid #c0c0c0;
        border-radius: 10px;
        @include fontSize(24px, gray, 500);
        margin: 0.5rem;
        margin-left: 0;
        padding: 0.5rem 2rem;
        &.active {
          color: white;
        }
        @media (max-width: 996px) {
          padding: 0.5rem;
          width: calc(100% / 3 - 0.5rem);
        }
      }
    }
  }
}
.stepControl {
  @include dflex(center, center, nowrap);
  margin-bottom: 2rem;
  @media (max-width: 996px) {
    // margin-bottom: 1rem;
    @include dflex(space-between, center, nowrap);
    width: 90%;
    margin: 0 auto 1rem auto;
  }
  .stepbtn {
    @include fontSize(24px, rgb(74, 74, 74, 30%), bold);
    @include button();
    @media (max-width: 996px) {
      margin: 0;
      width: calc(50% - 1rem);
      padding: 0.5rem;
    }
    &.active {
      color: white;
    }
  }
}

// step2
#reservation-content {
  .option-container {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    @media (max-width: 996px) {
      width: 90%;
      margin: 0.5rem auto;
    }
    .reservationContent-item {
      @include dflex(start, center, wrap);
      @include fontSize(1.25rem, #4a4a4a, 400);
      letter-spacing: 0.14em;
      margin-bottom: 1rem;
      .reservationContent-item-label {
        white-space: nowrap;
        padding-right: 2rem;
        // width: 20%;
        font-weight: bold;
      }
      .reservationContent-item-value {
        color: #53b6b7;
        white-space: nowrap;
      }
    }
  }
}

#personal-inform {
  .option-container {
    .first_followUp {
      width: 100%;
      @include dflex(center, center, nowrap);
      @media (max-width: 996px) {
        width: 90%;
        margin: 0 auto;
        // @include dflex(space-between, center, nowrap);
        justify-content: space-between;
        flex-wrap: wrap;
      }

      .first_followUpBtn {
        @include button();
        width: 30%;
        font-size: 1.25rem;
        @media (max-width: 996px) {
          width: calc(100% / 2 - 0.5rem);
          // font-size: 1rem;
          padding: 0.5rem 0;
        }
        &.active {
          color: white;
        }
      }
    }
    .inform-input {
      @include dflex(center, null, nowrap, column);
      width: 100%;
      margin: 1.5rem 0 0 0;
      @media (max-width: 996px) {
        // margin-top: 1rem;
        width: 90%;
        margin: 1rem auto 0 auto;
      }
      .inform-input-item {
        @include input();
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        @media (max-width: 996px) {
          width: 100%;
          margin-bottom: 1rem;
          @include dflex(start, start, nowrap, column);
          // flex-direction: column;
        }
        .label {
          @include fontSize(1rem, gray, 400);
          @include dflex(space-between, center, nowrap);
          margin-right: 1rem;
          @media (max-width: 996px) {
            margin-bottom: 0.5rem;
          }
          .word {
            display: block;
          }
        }
        .form-control {
          min-width: 250px;
          width: 75%;
          border-radius: 16px;
          border: 1px solid #c0c0c0;
          @media (max-width: 996px) {
            width: 100%;
          }
        }
        &.error-message {
          // display: none;
          @include iconSetting();
          color: rgba(156, 14, 78, 1);
          width: 100%;
          margin: 1rem 0;
          @include dflex(center, center, nowrap);
        }
        &.form-check {
          position: relative;
          // width: 40%;
          width: auto;
          @include dflex(center, start);
          white-space: nowrap;
          .form-check_alert {
            color: #4a4a4a;
            text-decoration: underline;
            cursor: pointer;
          }
          @media (max-width: 996px) {
            // margin: 0 !important;
            // width: 100% !important;
          }
          .form-check-input {
            width: 25px;
            height: 25px;
            border-color: rgb(74, 74, 74, 0.7);
            // transform: translate(0 ,1%);
            @include iconSetting;
            @media (max-width: 996px) {
              width: 20px;
              height: 20px;
            }
            &:focus {
              box-shadow: 0 0 0 2px rgb(74, 74, 74, 0.3);
            }
            &:checked {
              box-shadow: 0 0 0 2px rgb(74, 74, 74, 0.3);
              background-color: rgb(74, 74, 74, 0.7);
              border-color: rgb(74, 74, 74, 0.7);
            }
          }
          .form-check-label {
            padding-left: 1rem;
            @include fontSize(1.25rem, #4a4a4a, bold);
            position: absolute;
            top: 6%;
            @media (max-width: 996px) {
              padding: 0;
              font-size: 12px;
              top: 22%;
            }
          }
        }
      }
    }
  }
}
.reservation-complete {
  @include fontSize(24px, #ab0f56, 900);
  letter-spacing: 3.36px;
  text-align: center;
  margin: 0 auto;
}
#reservation-complete {
  .title {
    @include dflex(center, center, wrap);
    .title-name {
      @include fontSize(20px, #4a4a4a, 900);
      letter-spacing: 2.8px;
    }
  }
  .option-container {
    width: 60%;
    margin: 2rem auto 3.5rem auto;
    justify-content: space-between;
    align-items: start;
    @media (max-width: 996px) {
      width: 90%;
      margin: 1rem auto;
      flex-direction: column;
      align-items: center;
    }
    .inform-content-container {
      @media (max-width: 996px) {
        // width: 100%;
      }
      .informContent-item {
        @include dflex(start, center, nowrap);
        @include fontSize(1.25rem, #4a4a4a, 400);
        letter-spacing: 2.8px;
        margin-bottom: 1.5rem;
        @media (max-width: 996px) {
          margin-bottom: 1rem;
          // width: 100%;
        }
        .informContent-item-label {
          min-width: 150px;
          text-align: end;
          white-space: nowrap;
          padding-right: 1.5rem;
          @media (max-width: 996px) {
            text-align: start;
            min-width: none;
            padding-right: 1rem;
          }
        }
        .informContent-item-value {
          white-space: nowrap;
          color: #53b6b7;
        }
      }
    }
  }
}
.stepIcon-container {
  @include dflex(center, center, wrap, column);
  @media (max-width: 996px) {
    flex-direction: row;
    width: 100%;
  }
  .stepIcon-container-iconItem {
    @include dflex(center, center, nowrap, column);
    margin-bottom: 1rem;
    @media (max-width: 996px) {
      width: calc(100% / 3);
    }
    .stepIcon-container-iconItem-image {
      padding-bottom: 0.5rem;
    }
    .stepIcon-container-iconItem-name {
      @include fontSize(1rem, #4a4a4a, 500);
      white-space: nowrap;
    }
  }
}

.modal-backdrop {
  background-color: transparent;
}

.modal {
  .modal-header {
    background-color: #24a8a7;
  }
  .modal-title {
    @include fontSize(1rem, white, 400);
  }
  .modal-footer {
    padding: 0.25rem 0;
    .btn {
      width: 25%;
      // margin: 0 auto;
    }
  }
}
.arrowIcon {
  font-size: 2rem;
  border: #24a8a7 3px solid;
  border-radius: 50%;
  background-color: #24a8a7;
  color: white;
  padding-top: 2px;
  padding-left: 1px;
  padding-right: 1px;
}
